<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<br>

<%= link_to 'Edit article', edit_article_path(@article) %>

<br>

<%= link_to 'Delete article', article_path(@article), data: {confirm: 'Are you sure you want to delete the article?'},method: :delete %>

<br>

<%= link_to '<< Back to articles list', articles_path %>
